body{
  margin: 0;
  text-align: center;
  font-family:  'Merriweather', serif;
  background-color: #F7ECDE;
}

h1{
  width: auto;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-family: 'DynaPuff', cursive;
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 20px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  text-decoration: none;
  margin: 0 15px;
  font-family: 'DynaPuff', cursive;
}

hr{
  width: 6%;
  border-style: dotted;
  border-width: 10px;
  color: #F6FBF4;       /* = border: dotted #EAF6F6  10px;*/
  border-top: 0;
  margin: 100px auto;
}

.fontstyle{
  font-size: 1.7rem;
}

.intro{
  width: 35%;
  margin: auto;
  line-height: 2;
}

.contact{
  width: 40%;
  margin: 40px auto;
}

.top-cloud{
  position: absolute;
  right: 220px;
  top: 60px;
}

.bot-cloud{
  position: absolute;
  left: 250px;
}

.und{
  text-decoration: underline;
}

.Top{
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.profile{
  margin-top: 60px;
}

.Bot{
  background-color: #AEDBCE;
  height: 160px;
  margin-top: 100px; /* it's enough to move the padding */
  color: #11999E;
  position: relative;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.img1{
   width: 185px;
   border-radius: 80%;
   float: left;
   margin-right: 30px;
}

.img2{
   width: 185px;
   float: right;
   margin-left: 30px;
}

.footer-link{
  position: relative;
  top: 30px;
}

.footer-link:hover{
  color: #EAF6F6;
}

.last{
  color: #EAF6F6;
  font-size: 0.80rem;
  position: absolute;
  bottom: 10px;
  left: 45%;
  margin: auto;
  width: 10%;
  font-family: 'DynaPuff', cursive;
}

.icons{
  color: #EAF6F6;
  font-size: 0.80rem;
  position: absolute;
  bottom: 50px;
  left: 45%;
  margin: auto;
  width: 10%;
  font-family: 'DynaPuff', cursive;
}

.icons:hover{
  color: #11999E;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 40px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
